body{
    background-color: rgb(110, 171, 224);
    cursor:pointer;
}

.program
{
    display:flex;
    justify-content: flex-start;
 }

 td{
    border-radius: 0.5em;
    padding:0.5em;
    border-spacing: 0.5em;
    white-space: nowrap;
 }
tr.no-prereq td {
  background-color: white;
}

tr.has-prereq td {
  background-color: gray;
}

tr.completed td {
  background-color: lightgreen;
}
