body{
    background-color: rgb(110, 171, 224);
    cursor:pointer;
}

.program
{
    display:flex;
    justify-content: flex-start;
 }

td,th
{
border-radius: 0.5em;
padding:0.5em;
border-spacing: 0.5em;
white-space: nowrap;
}  

.no-prereq {
  background-color: rgb(255, 255, 255);
}

.has-prereq{
    background-color: lightgray;
}

.completed {
  background-color: lightgreen;
}
