body{
    background-color: rgb(110, 171, 224);
    
}

.program
{
    display:flex;
    justify-content: center;
  
 }

 td{
    border-radius: 0.5em;
    padding:0.5em;
    border-spacing: 0.5em;
    white-space: nowrap;
 }
tr.open td {
  background-color: white; /*makes background of open courses white*/
  cursor:pointer;
}
tr.open:hover td{
  background-color: #88d0e6;      /* light blue tint on hover */
}

tr.locked td {
  background-color: gray;
  cursor:not-allowed;
}

tr.completed td{
  background-color: lightgreen;
  cursor: pointer;
  border-left: 4px solid #3c9a3c;

}
